@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.text-signature-red {
  color: #aa0000;
}

.bg-signature-red {
  background-color: #aa0000;
}

.hover\:bg-signature-red:hover {
  background-color: #990000;
}

.bg-signature-gray {
  background-color: #f5f5f5;
}

.card-scollbar::-webkit-scrollbar {
  width: 5px;
}

.card-scollbar::-webkit-scrollbar-thumb {
  background-color: #919191;
  border-radius: 10px;
}


.main-button {
  background-color: #aa0000;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.main-title {
  font-weight: bold;
  font-size: 3rem;
  padding: 1.5rem;
}